body {
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  float: left;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #ddd;
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.1); /* Lighter border */
  border-top: 8px solid #3498db; /* Blue color for the top */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /* Speed up the spin for a smoother effect */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}